html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.spa {
  height: 99%;
  display: flex;
  justify-content: flex-start;
}

.spa-nav {
  width: 35%;
  max-width: 300px;
  overflow-y: scroll;
}

.spa-content {
  width: 100%;
  align-self: stretch;
}

.spa-content iframe {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 600px) {
  .spa {
    width: 100%;
    min-width: 0;
    height: 100%;
    display: block;
  }

  .spa-nav{
    width: 100%;
    max-width: 600px;
    height: 30px;
    border: 0;
    background: black;
    color: white;
    overflow: scroll;
  }

  .spa-content {
    width: 100%;
    height: 90%;
  }
}
