body {
  font-family: 微软雅黑;
  font-size: 1em;
  line-height: 2em;
}

div {
  display: inline-block;
}

.left {
  text-align: right;
}

input[type='radio']+label {
  padding-right: 1.6em;
}

#user-name {
  font-size: 1em;
}

#ok-button {
  width: 5em;
  height: 2.2em;
  background: #388e3c;
  color: white;
}

#reset-button {
  width: 5em;
  height: 2.2em;
  background: #424242;
  color: white;
}
