body, p {
  font-family: 微软雅黑;
  font-size: 1em;
  line-height: 2em;
  color: #4a4a4a;
  margin: 0;
}

header, article {
  width: 350px;
  margin: 0 auto;
  text-align: center;
}

h1 {
  font-size: 1.2em;
}

table {
  text-align: center;
  width: 100%;
  border-collapse: collapse;
  box-shadow: 1px 1px 10px #666; 
}

th {
  color: black;
}

tbody td:nth-child(1) {
  width: 15%;
}

tbody td:nth-child(2) {
  width: 35%;
}

td, th, table {
  border: 1px solid;
}

input {
  display: inline-block;
  width: 90px;
  height: 40px;
  margin: 8px auto;
  font-size: 1.1em;
}

#play-button {
  background-image: url('images/paly.png');
}

#pause-button {
  background-image: url('images/pause.png');
}

#stop-button {
  background-image: url('images/stop.png');
}

#play-button, #pause-button, #stop-button {
  background-size: contain;
  width: 40px;
  border-radius: 20px;
  outline: none;
}
