body {
  font-family: 微软雅黑;
  font-size: 1em;
  line-height: 2em;
}

form {
  width: 310px;
  margin: 20px auto;
}

form div {
  display: flex;
  align-items: flex-start;
}

form textarea {
  margin-left: 5px;
  resize: none;
}

input, textarea, select, label {
  margin: 10px 0;
  font-size: 1.1em;
}

input, select, textarea {
  box-sizing: border-box;
  width: 240px;
}

#birth, select {
  height: 28px;
}

#ok-button, #reset-button {
  position: relative;
  left: 61px;
  margin-right: 10px;
  width: 60px;
  height: 30px;
  font-size: 1em;
}
