body {
  font-family: 微软雅黑;
  font-size: 1em;
  line-height: 2em;
}

form {
  width: 360px;
  margin: 20px auto 0;
  padding: 20px 20px;
}

input, label {
  margin: 10px 0;
  font-size: 1.2em;
}

#btnOk {
  width: 60px;
  height: 30px;
  font-size: 1em;
}

#pwd-normal,#pwd-display {
  width:200px;
}

p {
  display: inline-block;
}
