body {
  font-family: 微软雅黑;
  font-size: 1em;
  line-height: 2em;
  margin: 0;
}

form {
  width: 360px;
  margin: 20px auto 0;
  padding: 20px 20px;
}

input, label {
  font-size: 1.2em;
}

#pwNormal {
  width: 220px;
  margin: 0;
}

.pwDisplay {
  width: 216px;
  height: 20px;
  display: none;
  position: absolute;
  left: 2px;
  top: 10px;
  border: #fff;
}

.inputs {
  position: relative;
  display: inline-block;
}

img {
  display: inline-block;
  height: 28px;
  position: relative;
  top: 8px;
  left: -42px;
  z-index: 9;
}

