body {
  font-family: 微软雅黑;
  line-height: 2em;
  margin: 0;
  font-size: 1.2em;
}

.main {
  width: 360px;
  margin: 20px auto 0;
  padding: 20px 20px;
  position: relative;
}

.main input {
  font-size: 1.2em;
}

.main #pwd {
  width: 220px;
  margin: 0;
}

.main .pwd-text {
  width: 216px;
  height: 27px;
  display: none;
  position: relative;
  left: 64px;
  top: -34px;
  border: #fff;
}

.main #eye {
  display: inline-block;
  height: 28px;
  position: relative;
  top: 8px;
  left: -42px;
  z-index: 9;
}

