body {
  font-family: 微软雅黑;
  margin: 0;
}

div {
  width: 200px;
  margin: 30px auto;
}

div input {
  display: block;
  width: 100%;
  height: 50px;
  margin: 20px 0;
  font-size: 1em;
}

div #msg {
  width: 100%;
  margin: 20px 0;
  text-align: center;
}
