.spa {
  min-width: 800px;
  min-height: 600px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.spa-nav {
  width: 30%;
  max-width: 300px;
  border-right: 1px solid #d4d4d4;
}

.spa-content {
  width: 70%;
  align-self: stretch;
}
