html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 90%;
}

.main {
  width: 370px;
  margin: 40px auto 0;
  font-size: 1em;
}

.main input {
  font-size: 1.1em;
}

.main input[type="submit"] {
  width: 60px;
}

.main input[type="url"] {
  width: 300px;
}

.main div {
  margin-top: 10px;
  width: 100%;
  overflow-x: scroll;
}

