html, body {
  font-size: 1.2em;
  height: 80%;
  margin: 0;
  padding: 0;
  width: 100%;
}

.main {
  height: 80%;
  margin: 30px auto;
  width: 90%;
}

textarea {
  font-size: 1em;
}

input {
  font-size: 0.8em;
  height: 50px;
  margin-top: 10px;
  width: 120px;
}

pre {
  margin: 10px 0;
}

div {
  position: relative;
}

pre+i {
  color: gray;
  position: absolute;
  right: 30px;
  top: 10px;
}

i+i {
  color: gray;
  position: absolute;
  right: 10px;
  top: 10px;
}

pre+i:hover,
i+i:hover {
  color: white;
  cursor: pointer;
}
